@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

:root {
    --root-color: #fb6e14;
    --header-color: #130d08;
}

* {
    box-sizing: border-box;
    font-family: 'Merriweather';
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-weight: 300;
    line-height: 2;
    color: #5e493a;
    /* background-image: url(../img/background_food.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

a:not([href]) {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: #000;
}

hr {
    margin: 0.6rem 0;
}

.heading {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    font-style: italic;
}

h2.heading:before {
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    left: 50%;
    margin-top: -50px;
    margin-left: -32px;
}

h2.heading:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    background: #fb6e14;
}

.btn-custom {
    color: #fff;
    background: var(--root-color);
}

.btn-custom:hover {
    color: #fff;
    background: #ff7c2b;
}

.btn-back {
    color: #000;
    background-color: #f0f0f0;
}

.btn-back:hover {
    color: #000;
    background-color: #e6e6e6;
}

.alert-message {
    
}

/* Start CSS for Header */
header {
    height: 70px;
}

header a.nav-link {
    color: var(--header-color);
}

header a.nav-link:not(.logo):hover {
    color: var(--root-color);
}

header a.nav-link:not(.logo):active {
    color: var(--root-color);
}

header a.nav-link:not(.logo):focus {
    color: var(--root-color);
}

header a.active {
    color: var(--root-color);
}

.navbar {
    display: none;
    height: 100%;
}

.nav {
    display: flex;
    height: 100%;
    justify-content: center;
}

button#navbar-toggler {
    font-size: 1.6rem;
}

.dropdown-menu {
    transform: translate3d(-76px, 62px, 0px) !important;
}
/* End CSS for Header */

aside.sidebar {
    position: fixed;
    top: 80px;
}

aside.sidebar ul {
    width: 205px;
}

aside.sidebar ul li {
    position: relative;
}

aside.sidebar ul li:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.2;
    position: absolute;
}

.fs-c18 {
    font-size: 18px;
}

/* CSS for Content */
.content {
    min-height: 90vh;
    background-color: #fff;
}

/* CSS for Header */
.logo {
    font-size: 40px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
}
/* End CSS for Header */

/* Start CSS for Login/Register */
#exampleModal1 .modal-content {
    border-radius: 0;
    font-family: 'Merriweather';
}

.modal-register {
    display: none;
}

.header-login-register {
    padding: 0 30px;
    margin: 10px 0;
}

.header-login-register > h5 {
    color: var(--root-color);
    cursor: pointer;
}

.form-login-register {
    padding: 10px 20px 35px;
}

.form-login-register > input {
    margin-bottom: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0;
}

.form-login-register > .group-btn {
    margin: 40px 0 30px;
    float: right;
}

.form-login-register > div button {
    margin-left: 10px;
    padding: 6px 20px;
    text-transform: uppercase;
    border-radius: 0;
}

/* End CSS for Login/Register */

section#banner {
    /* background-image: url(../img/banner_food.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

/* Start CSS for Features */
#feature {
    background-image: url(../img/wood_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-header {
    padding: 50px 0 20px;
}

.feature-header > h2.heading {
    color: #fff;
}

.feature-header > h2.heading:before {
    background: url(../icon/feature-icon.png) no-repeat;
}

.feature-header p {
    color: #a99c92;
}

.feature-row {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.feature-card-img > img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.feature-card-content {
    position: relative;
    padding: 20px;
    background-color: #f5f5f5;
}

.feature-card-content::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 0;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #f5f5f5;
}

.feature-card-reversed > .feature-card-content::before {
    left: 100%;
    right: 0;
    margin-right: -15px;
    margin-left: 0px;
    border-left: 15px solid #f5f5f5;
    border-right: none;
}

.feature-card-1 .feature-card-content {
    background-color: #faebcd;
}

.feature-card-1 .feature-card-content::before {
    border-right: 15px solid #faebcd;
}

.feature-card-1 > .feature-card-row {
    height: 100%;
}

.feature-card-1 .feature-card-reversed > .feature-card-content {
    background-color: #faebcd;
}

.feature-card-1 .feature-card-reversed > .feature-card-content::before {
    border-left: 15px solid #faebcd;
    border-right: none;
}

.feature-card-reversed .feature-card-img {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}

.feature-card-reversed .feature-card-content {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}

.feature-card-content h2 {
    margin: 20px 0 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
}

.feature-card-content span.pricing {
    font-size: 40px;
    display: block;
    padding-top: 20px;
}

.feature-card-content span.pricing::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    left: 50%;
    margin-left: -20px;
    background: #fb6e14;
}

.feature-card-content p {
    line-height: 1.6;
    font-size: 16px;
    color: #222;
    margin-bottom: 30px;
}
/* End CSS for Features */

/* Start CSS for Product */
.product-header {
    padding: 50px 0 10px;
}

.product-header > h2.heading:before {
    background: url(../icon/product-icon.png) no-repeat;
}

.regions {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-style: italic;
}

.product-menu {
    float: left;
    width: 100%;
}

.product-menu > a {
    display: block;
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    float: left;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
}

.product-desc {
    clear: both;
    float: left;
    width: 80%;
}

.product-desc > figure {
    position: relative;
    float: left;
    width: 20%;
    margin-right: 4%;
    margin-bottom: 0;
}

.product-desc > figure img {
    max-width: 100%;
    margin-bottom: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}

.product-desc > div {
    position: relative;
    float: left;
    width: 75%;
    font-size: 14px;
    line-height: 1.5;
}

.product-desc > div h3 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 20px;
}

.product-desc > div p {
    margin: 0;
}

.product-pricing {
    float: right;
    width: 20%;
    text-align: right;
    font-size: 20px;
    color: var(--root-color);
}

.btn-view-all {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.btn-view-all:hover {
    color: var(--root-color);
}

.btn-view-all > i {
    padding-left: 2px;
    font-size: 26px;
}

/* End CSS for Product */

/* Start CSS for About */
#about {
    margin-top: 30px;
}

#about-content > div {
    padding: 2em 4em;
    text-align: left;
    background: #130d08 url(../img/wood_1.png) repeat;
}

#about-content > div h2 {
    font-size: 30px;
}

#about-content > div p {
    line-height: 2;
    color: #a99c92;
    margin-bottom: 30px;
}

#about-content > div p span.firstcharacter {
    float: left;
    color: #903;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 3px;
    font-style: italic;
    top: -20px;
    position: relative;
    color: #fff;
    font-family: "Playfair Display", serif;
}
/* End CSS for About */

/* Start CSS for Food Modal */
.modal-header {
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.modal-body {
    padding: 0;
}

.modal-title {
    font-size: 18px;
}

.food-item {
    position: relative;
    display: flex;
    padding: 16px;
    box-shadow: 0 2px 4px #00000012;
}

.food-img {
    position: relative;
    overflow: visible;
    flex-basis: 120px;
    align-self: flex-start;
    width: 120px;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
}

.food-img > img {
    width: 100%;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: all .15s linear;
}

.food-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.food-content:not(:first-child) {
    padding-left: 8px;
}

.food-name {
    display: block;
    display: -webkit-box;
    padding-right: 110px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
}

.food-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    text-align: right;
}

.number-input-up-down {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 30px;
    display: inline-flex;
}

.number-input-up-down > input[type="number"] {
    position: relative;
    right: -6px;
    width: 32px;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border-style: none;
    background: rgba(0,0,0,0);
}

.number-input-up-down > input[type="number"]:focus {
    outline: none;
}

.number-input-up-down > a {
    cursor: pointer;
    width: 32px;
    padding: 4px 0;
    margin: 0 4px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: #333;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.number-input-up-down > a.disabled {
    border: 1px solid #ebebeb;
    color: #9c9c9c!important;
    cursor: not-allowed;
}

.food-custom {
    flex: 1;
    max-height: calc(80vh - 256px);
    overflow: hidden auto;
}

.flex-view {
    margin: 0 16px;
    background: #fff;
}

.flex-view .title {
    padding: 16px 0 6px;
    font-size: 16px;
    font-weight: 700;
}

.food-note {
    flex: 1;
    width: 100%;
}

.input-auto-grow {
    background: none;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    border-style: none;
    line-height: 24px;
    padding: 0;
    resize: none;
}
/* End CSS for Food Modal*/

.cart {
    position: relative;
}

.cart-qty {
    position: absolute;
    top: 10px;
    right: 9px;
    width: 7.5px;
    height: 7.5px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 14px;
    background-color: red;
    border-radius: 50%;
}

/* CSS for Detail Cart Page */
.cart-group > .card {
    margin-bottom: 15px;
}

.card {
    background: #fff;
    padding: 1.07142857rem;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
    border: none;
}

.card-footer {
    background: #fff;
    border-top: none;
    /* border-top: 1px solid #ebebeb; */
    padding: 0 20px;
}

.cart-item-delete {
    position: relative;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.cart-item-delete:hover {
    color: #000;
    border-bottom: none;
}

.cart-item-qty {
    position: inherit;
}

.cart-item-qty > a {
    border: 1px solid rgb(66, 66, 66);
}

.cart-item-price {
    margin-left: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.text-overflow {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* End CSS for Detail Cart Page */

/* Start CSS for Checkout Page */
.form-group {
    padding: 18px;
    margin-bottom: 15px;
    background-color: #f8f7f5;
}

.form-title {
    font-weight: bold;
    text-transform: uppercase;
}

.input-group {
    position: relative;
    margin: 20px 0 40px;
}

.input-group > input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #908f8e;
    background-color: transparent;
    z-index: 99;
}

.input-group > input:focus {
    border-bottom-width: 2px;
    border-bottom-color: #e4002b;
}

.input-group > label {
    position: absolute;
    font-size: 1rem;
    transform-origin: 0 0;
    transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),color 400ms cubic-bezier(0.25, 0.8, 0.25, 1),width 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.input-group-focus label {
    top: -20px;
    font-size: 0.7rem;
}

p.item-qty {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.input-payment-method {
    position: relative;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.payment-method-active {
    color: #fff;
    background-color: #000;
}

.input-payment-method > label {
    position: relative;
    width: 100%;
    font-weight: 500;
}

.input-payment-method > label::after {
    position: absolute;
    content: "";
    right: 10px;
    width: 52px;
    height: 37px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../icon/ZaloPay_icon.png) no-repeat;
    background-position: 50%;
    background-size: contain;
}

.input-payment-method > label.pay-cash::after {
    background: url(../icon/sprite.png) no-repeat -90px -209px;
}

.payment-method-active > label.pay-cash::after {
    background: url(../icon/sprite.png) no-repeat -90px -280px;
}

.input-payment-method > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;
}

.btn-place-order {
    padding: 10px 120px;
    border-radius: 25px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.no-writer > input:read-only, .no-writer > input:disabled {
    color: #a9a9a9;
    cursor: not-allowed;
}
/* End CSS for Checkout Page */

/* Responsive */
@media (max-width: 576px) {
    .nav {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    /* Start Responsive Navbar */
    header {
        position: relative;
    }

    .navbar {
        display: flex;
    }

    .nav {
        position: absolute;
        top: 70px;
        right: 0;
        width: 50%;
        height: max-content;
        background-color: #fff;
        border: 1px solid #ccc;
        display: none;
        justify-content: flex-start;
        z-index: 999;
    }

    .nav > li {
        width: 100%;
        padding: 0 1rem;
    }

    .nav > li:hover {
        background-color: #333;
    }

    .nav > li a.logo {
        display: none;
    }

    .dropdown-menu {
        width: 100%;
        transform: translate3d(0px, 54.4px, 0px) !important;
    }

    #navbar-toggler:active {
        border: none;
    }

    .cart-qty {
        top: 12px;
        left: 36px;
    }
    /* End Responsive Navbar */
}

@media (min-width: 768px) {
    .nav {
        display: flex !important;
    }
}

@media (max-width: 992px) {
    /* Start Responsive About */
    #myMap {
        height: 340px;
        order: 2;
    }

    #about-content {
        order: 1;
    }
    /* End Responsive About */
}
